<div id="footer"><!--footer stretching width of inner body-->
		<table id="sitemap">
			<tr>
				<td><%= link_to 'All Posts', 	posts_path %></td>
				<td>
					<% if user_signed_in? %>
						You are commenting as:
					<% end %>
				</td>
				<td class="pullright">Original Rails Site Developed by</td>
			</tr>
	
			<tr>
				<td><%= render 'devise/menu/login_items' %></td>
				<td>
					<% if user_signed_in? and (current_user.anonymous? or current_user.name? == false) %>
					 Anonymous - <%= link_to 'Switch to Credited', toggle_path %>
					<% elsif user_signed_in? and current_user.name? and current_user.anonymous == false %>
					 <%= link_to current_user.name, user_path(current_user) %> - <%= link_to 'Switch to Anonymous', toggle_path %>
					<% end %>
				</td>
				<td class="pullright"><a href="http://www.cyrusbaumgarten.com">Cyrus Baumgarten</a></td>
			</tr>
	
			<tr>
				<td><%= render 'devise/menu/registration_items' %></td>
				<td><%= render 'nav/editprofile' %></td>
				<td class="pullright"><%= link_to 'About', about_path %></td>
			</tr>
		</table>
</div><!-- id="footer" -->

