<p>Your Profile:</p>

<p> Username: <%= @user.name %></p>

<p> Email: <%= @user.email %></p>

<p> Anonymous? <%= @user.anonymous.to_s %></p>

<p> Subscribed? <%= @user.subscribe.to_s %></p>

<%= link_to 'Admin Delete', @user, method: :delete%>

<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
