<p>Edit Post</p>

<p>
	<%= form_for @post do |f| %>

		<%= f.label :title %>
		<br>
		<%= f.text_field :title %>
		<br>
		<%= f.label :body %>
		<br>
		<%= f.text_area :body %>
		<br>
		Allow Comments?
		<%= f.radio_button :commenting, true, :checked => true %> 
		<%= label :commenting_true, 'Yes' %>
		<%= f.radio_button :commenting, false %>
		<%= label :commenting_false, 'No' %>
		<br>
		<%= f.submit "Update Post" %>
	<% end %>
</p>