<p>Create Post</p>

<p>
	<%= form_for @post do |f| %>

		<%= f.label :title %>
		<br>
		<%= f.text_field :title %>
		<br>
		<%= f.label :body %>
		<br>
		<%= f.text_area :body %>
		<!-- <br>
		Allow Comments?
		<%= f.radio_button :comments, 1, :checked => true %> 
		<%= label :comments_true, 'Yes' %>
		<%= f.radio_button :comments, 0 %>
		<%= label :comments, 'No' %> -->
		<br>
		<%= f.submit "Create Post" %>
	<% end %>
</p>
<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
