<div id="post-show">
	<div id="post-show-title">
		<p><%= @post.title %></p>
	</div>	
	<% if user_signed_in? and current_user.admin? %>
	<div class="admin-item">
			<%= link_to "Edit", edit_post_path(@post)%> 
			<%= link_to "Delete", @post, method: :delete %>
	</div>
	<% end %>
	<div id="post-show-body">
		<p><%= @post.body.html_safe %></p>
	</div>
	
	<div id="comment-button">
		Show Comments
	</div>
	
	<div id="comments-whole" style="display:none">
		<div id="comment-form">
			<p>
				<%= form_for @comment, remote: true do |f| %> 
				<%= f.hidden_field :post_id, value: @post.id %>
				<%= f.text_area :body, placeholder: "Post Comment..." %>
				<%= f.submit "Submit"%>
				<% end %>
			</p>
		</div>
	
		<div id="comments-feed">
			<%= render @comments %>
		</div>
	</div>
</div>