Showing Post

<p>Post Author: <%= @post.user.email %></p>
<p>Post Title: <%= @post.title %></p>
<p>Post Text: <%= @post.body %></p>

<% if user_signed_in? and current_user.admin? %>
	<p>
		<%= link_to "Edit", edit_post_path(@post)%> 
		<%= link_to "Delete", @post, method: :delete %>
	</p>
<% end %>

<p>
	<%= form_for @comment do |f| %> 
	Comments:
	<%= f.hidden_field :post_id, value: @post.id %>
	<%= f.text_field :body, placeholder: "Post Comment..." %>
	<%= f.submit "Submit"%>
	<% end %>
</p>

<%= render @comments %>


<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
