<div id="post-show">
	<div id="post-show-title">
		<p><%= @post.title %></p>
	</div>	
	<% if user_signed_in? and current_user.admin? %>
	<div class="admin-item">
			<%= link_to "Edit", edit_post_path(@post)%> 
			<%= link_to "Delete", @post, method: :delete %>
	</div>
	<% end %>
	<div id="post-show-body">
		<p><%= @post.body %></p>
	</div>

	<div id="comments-whole">
		<p>
			<%= form_for @comment do |f| %> 
			Comments:
			<%= f.hidden_field :post_id, value: @post.id %>
			<%= f.text_field :body, placeholder: "Post Comment..." %>
			<%= f.submit "Submit"%>
			<% end %>
		</p>
	
		<div id="comments-feed">
			<%= render @comments %>
		</div>
	</div>
</div>