<!DOCTYPE html>
<html>
<head>
  <title>Cyrus Baumgarten: A Seattle Ruby On Rails Blog</title>
	<meta name='description' content='Cyrus Baumgarten is Riding Ruby on Rails in Seattle'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'static_pages/navfull' %>
	
	<div id="background"> <!-- full width background image/color -->	
		<div id="inner-body"><!--width constrained content in main body below navbar-->
			
			<%= render 'static_pages/leftbar' %>
			<%= render 'static_pages/rightbar' %>
			<%= render 'static_pages/footer' %>
			
		</div><!-- id="inner-body" -->
	</div><!-- id="background" -->
</body>
</html>
