<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- new repo for styling -->
	
	<div id="navbar-full-width"> <!-- fixed navbar stretching accross page -->
		<div id="navbar-inner"> <!--navbar content constrained to fixed width -->
			<div id="logo"> <!--logo pulled right, navbar-inner div 1 of 7-->
				<span id="logoblue">cyrus</span><span id="logoorange">[:blog]</span>
			</div><!-- id="logo" -->
			<div id="button-1" class="navcluster"> <!--button pulled left, navbar-inner div 2 of 7-->
				ACTION
			</div><!-- id="button-1" -->
			<div id="button-2" class="navcluster"> <!--button pulled left, navbar-inner div 3 of 7-->
				ACTION
			</div><!-- id="button-2" -->
			<div id="button-3" class="navcluster"> <!--button pulled left, navbar-inner div 4 of 7-->
				ACTION
			</div><!-- id="button-3" -->
			<div id="button-4" class="navcluster"> <!--button pulled left, navbar-inner div 5 of 7-->
				ACTION
			</div><!-- id="button-4" -->
			<div id="button-5" class="navcluster"> <!--button pulled left, navbar-inner div 6 of 7-->
				ACTION
			</div><!-- id="button-5" -->
			<div id="button-6" class="navcluster"> <!--button pulled left, navbar-inner div 7 of 7-->
				ACTION
			</div><!-- id="button-6" -->
		</div><!-- id="navbar-inner" -->
	</div><!-- id="navbar-full-width" -->
	
	<div id="background"> <!-- full width background image/color -->
		
		<div id="inner-body"><!--width constrained content in main body below navbar-->
			<div id="inner-body-left-side"><!-- view yeild content, inner body div 1 of 2 -->
				<%= yield %>
			</div><!-- id="inner-body-left-side" -->
			
			<div id="inner-body-right-side"><!-- supplemental page content, inner body div 2 of 2 -->
				
				<div id="stories-feed"><!--feed of latest stories with trunicated preview-->
					<% feed = Post.limit(1).order('created_at desc') %>
					<% feed.each do |post| %>
					<p>
						<span id="feedtitle"><%= link_to post.title, post_path(post) %></span><br>
						<span id="feedbody"><%= truncate(post.body, length:100, separator:' ') %></span>
					</p>
					<% end %>
					<div id="stories-button"><!--stories button floating over content-->
						<div id="button7">ALL</div>
						<div id="button8">STORIES</div>
					</div><!-- id="stories-button" -->
					<% feed2 = Post.limit(7).order('created_at desc').offset(1) %>
					<% feed2.each do |post| %>
					<p>
						<span id="feedtitle"><%= link_to post.title, post_path(post) %></span><br>
						<span id="feedbody"><%= truncate(post.body, length:80, separator:' ') %></span>
					</p>
					<% end %>
				</div><!-- id="stories-feed" -->
			</div><!-- id="inner-body-right-side" -->
			
			<div id="footer"><!--footer stretching width of inner body-->
			</div><!-- id="footer" -->
			
			<%= render	'nav/navbar' %>
			<%= render 'layouts/flashes' %>
			
		</div><!-- id="inner-body" -->
		
	</div><!-- id="background" -->
</body>
</html>
