<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 	'devise/menu/registration_items' %>
	<%= render 	'devise/menu/login_items' %>
	<%= render	'nav/navbar' %>
	
	<p>
		<% if notice %> <div class="notice">	<%= notice %></div> <% end %>
		<% if alert %> 	<div class="alert">		<%= alert %></div>	<% end %>
		<% if flash[:error] %> <div class="alert"><%= flash[:error] %></div> <% end %>
		<% if flash[:success] %> <div class="success"><%= flash[:success] %></div> <% end %>
	</p>
	
	

<%= yield %>

</body>
</html>
